* {
    margin: 0;
}


.container {
    display: grid;
    height: 100vh;
    background-color: grey;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(17, 1fr);
    gap: 10px;
    padding: 20px;
}


.item {
    background-image: url("https://w0.peakpx.com/wallpaper/933/974/HD-wallpaper-smile-faces-happy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.item:nth-child(2) {
    grid-area: 2 / 1 / 4 / 2;
}

.item:nth-child(3) {
    grid-area: 4 / 1 / 6;
}

.item:nth-child(4) {
    grid-area: 6 / 1 / 8;
}

.item:nth-child(5) {
    grid-area: 8 / 1 / 10;
}

.item:nth-child(6) {
    grid-area: 10 / 1 / 12;
}

.item:nth-child(7) {
    grid-area: 12 / 1 / 14;
}

.item:nth-child(8) {
    grid-area: 14 / 1 / 16;
}

.item:nth-child(9) {
    grid-area: 16 / 1 / 18;
}

.item:nth-child(10) {
    grid-area: 4 / 2 / 6 / 3;
}

.item:nth-child(11) {
    grid-area: 6 / 2 / 8 / 3;
}

.item:nth-child(12) {
    grid-area: 8 / 2 / 10 / 3;
}

.item:nth-child(13) {
    grid-area: 10 / 2 / 12 / 3;
}

.item:nth-child(14) {
    grid-area: 12 / 2 / 14 / 3;
}

.item:nth-child(15) {
    grid-area: 14 / 2 / 16 / 3;
    background-color: black;
}

.item:nth-child(16) {
    grid-area: 16 / 2 / 18 / 3;
}

.item:nth-child(17) {
    grid-area: 16 / 3 / 18 / 4;
}

.item:nth-child(18) {
    grid-area: 16 / 4 / 18 / 5;
}

.item:nth-child(19) {
    grid-area: 16 / 5 / 18 / 6;
}

.item:nth-child(20) {
    grid-area: 16 / 6 / 18 / 7;
}

.item:nth-child(21) {
    grid-area: 16 / 7 / 18 / 8;
}

.item:nth-child(22) {
    grid-area: 16 / 8 / 18 / 9;
}

.item:nth-child(23) {
    grid-area: 16 / 9 / 18 / 10;
}

.item:nth-child(24) {
    grid-area: 14 / 9 / 16 / 10;
}

.item:nth-child(25) {
    grid-area: 12 / 9 / 14 / 10;
}

.item:nth-child(26) {
    grid-area: 10 / 9 / 12 / 10;
}

.item:nth-child(27) {
    grid-area: 8 / 9 / 10 / 10;
}

.item:nth-child(28) {
    grid-area: 6 / 9 / 8 / 10;
}

.item:nth-child(29) {
    grid-area: 4 / 9 / 6 / 10;
}

.item:nth-child(30) {
    grid-area: 2 / 9 / 4 / 10;
}

.item:nth-child(31) {
    grid-area: 1 / 9 / 2 / 10;
}

.item:nth-child(32) {
    grid-area: 4 / 3 / 6 / 4;
}

.item:nth-child(33) {
    grid-area: 4 / 4 / 6 / 5;
}

.item:nth-child(34) {
    grid-area: 4 / 5 / 6 / 6;
}

.item:nth-child(35) {
    grid-area: 4 / 6 / 6 / 7;
}

.item:nth-child(36) {
    grid-area: 4 / 7 / 6 / 8;
}

.item:nth-child(37) {
    grid-area: 4 / 8 / 6 / 9;
}

.item:nth-child(38) {
    grid-area: 6 / 3 / 8 / 4;
}

.item:nth-child(39) {
    grid-area: 8 / 3 / 10 / 4;
}

.item:nth-child(40) {
    grid-area: 10 / 3 / 12 / 4;
}

.item:nth-child(41) {
    grid-area: 12 / 3 / 14 / 4;
}
.item:nth-child(42) {
    grid-area: 6 / 8 / 8 / 9;
}
.item:nth-child(43) {
    grid-area: 8 / 8 / 10 / 9;
}
.item:nth-child(44) {
    grid-area: 10 / 8 / 12 / 9;
}
.item:nth-child(45) {
    grid-area: 12 / 8 / 14 / 9;
}
.item:nth-child(46) {
    grid-area: 6 / 7 / 8 / 8;
}
.item:nth-child(47) {
    grid-area: 8 / 7 / 10 / 8;
}
.item:nth-child(48) {
    grid-area: 10 / 7 / 12 / 8;
}
.item:nth-child(49) {
    grid-area: 12 / 7 / 14 / 8;
}
.item:nth-child(50) {
    grid-area: 14 / 3 / 16 / 8;
}

.item:nth-child(51) {
    grid-area: 14 / 8 / 16 / 9;
}

.item:nth-child(52) {
    grid-area: 1 / 2 / 4 / 9;
}

.item:nth-child(53) {
    grid-area: 6 / 4 / 14 / 7;
}